{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<section id="header-nav">
  <header>
    <nav>
      <ul>
        {% if current[0] == none %}
          <li class="current">Home</li>
        {% else %}
          <a href="{{ '/'' | relative_url }}">
            <li class="btn-nav">Home</li>
          </a>
        {% endif %}
        {% if current[0] == 'about' %}
          <li class="current">About</li>
        {% else %}
          <a href="{{ '/about'' | relative_url }}">
            <li class="btn-nav">About</li>
          </a>
        {% endif %}
        {% if current[0] == 'schedule' %}
          <li class="current">Schedule</li>
        {% else %}
          <a href="{{ '/schedule'' | relative_url }}">
            <li class="btn-nav">Schedule</li>
          </a>
        {% endif %}
        {% if current[0] == 'illustration' %}
          <li class="current">Illustration</li>
        {% else %}
          <a href="{{ '/illustration'' | relative_url }}">
            <li class="btn-nav">Illustration</li>
          </a>
        {% endif %}
        {% if current[0] == 'twitter' %}
          <li class="current">Twitter</li>
        {% else %}
          <a href="{{ '/twitter'' | relative_url }}">
            <li class="btn-nav">Twitter</li>
          </a>
        {% endif %}
        {% if current[0] == 'message' %}
          <li class="current">Message</li>
        {% else %}
          <a href="{{ '/message'' | relative_url }}">
            <li class="btn-nav">Message</li>
          </a>
        {% endif %}
        {% if current[0] == 'contact' %}
          <li class="current">Contact</li>
        {% else %}
          <a href="{{ '/contact'' | relative_url }}">
            <li class="btn-nav">Contact</li>
          </a>
        {% endif %}

      </ul>
    </nav>
  </header>
</section>
